{% component page_header_message(section_or_page) %}
  {% if section_or_page %}
    {% if section_or_page.extra.header_message %}
      {{ section_or_page.extra.header_message }}
    {% elif section_or_page.path is starting_with(pat="/learn/book/") %}
      The Book
    {% elif section_or_page.path is starting_with(pat="/learn/migration-guides/") %}
      Migration Guides
    {% elif section_or_page.path is starting_with(pat="/learn/errors/") %}
      Errors
    {% elif section_or_page.path is starting_with(pat="/learn/quick-start/") %}
      Quick Start
    {% elif section_or_page.path is starting_with(pat="/learn/advanced-examples") %}
      Advanced Examples
    {% elif section_or_page.path is starting_with(pat="/learn/contribute/") %}
      Contribute
    {% elif section_or_page.path is starting_with(pat="/news/") %}
      News
    {% elif section_or_page.path == "/" %}
      Features
    {% endif %}
  {% endif %}
{% endcomponent page_header_message %}
