{% component release_notes(version, @page) %}
{% set base_path = "./release-content/" ~ version ~ "/release-notes/" %}
{% set release_notes_data = load_data(path=base_path ~ "_release-notes.toml") %}
{% for release_note in release_notes_data.release_notes %}
{% set release_note_body = load_data(path=base_path ~ release_note.file_name) %}

## {{ release_note.title }}

<div class="heading-meta">
  <div>
    <span class="heading-meta__title">Authors:</span>
    {% for author in release_note.authors %}{% if author is starting_with(pat="@") %}<a href="https://github.com/{{ author | trim_start(pat="@") }}" class="heading-meta__item">{{ author }}</a>{% else %}<span class="heading-meta__item">{{ author }}</span>{% endif %}{% if not loop.last %},{% endif %}
    {% endfor %}
  </div>
  <div>
    <span class="heading-meta__title">PRs:</span>
    {% for pr in release_note.prs %}<a class="heading-meta__item" href="https://github.com/bevyengine/bevy/pull/{{ pr }}">#{{ pr }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
  </div>
</div>

{{ release_note_body | replace(from='POST_PATH', to=page.colocated_path) | markdown }}

{% endfor %}
{% endcomponent %}